USE [master]
CREATE DATABASE CHUNGKHOAN 
GO
USE [CHUNGKHOAN]
GO
DROP TRIGGER [AF_INSERT_KHOP]
GO
DROP TRIGGER [TR_AFTERUPDATE]
GO
DROP TRIGGER [TR_AFTERINSERT]
GO
DROP TRIGGER [TR_AFTERDELETE]
GO
DROP PROCEDURE [SP_UPDATE_TRUCTUYEN]
GO
DROP PROCEDURE [SP_RESET_TTL]
GO
DROP PROCEDURE [SP_KHOPLENH_LO]
GO
DROP PROCEDURE [SP_CLEARDATE_TRUCTUYEN]
GO
DROP PROCEDURE [CursorLoaiGD]
GO
ALTER TABLE [LENHDAT] DROP CONSTRAINT [CK_LENHDAT_1]
GO
ALTER TABLE [LENHKHOP] DROP CONSTRAINT [FK_LenhKhop_LenhDat]
GO
ALTER TABLE [TRUCTUYEN] DROP CONSTRAINT [DF_TRUCTUYEN_NGAYGIAODICH]
GO
DROP TABLE [TRUCTUYEN]
GO
DROP TABLE [LENHKHOP]
GO
DROP TABLE [LENHDAT]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [LENHDAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACP] [char](10) NOT NULL,
	[NGAYDAT] [datetime] NULL CONSTRAINT [DF_LenhDat_NgayDat]  DEFAULT (getdate()),
	[LOAIGD] [nchar](10) NULL,
	[LOAILENH] [nchar](10) NULL,
	[SOLUONG] [int] NULL,
	[GIADAT] [float] NULL,
	[TRANGTHAILENH] [nvarchar](30) NULL CONSTRAINT [DF_LenhDat_TrangThaiLenh]  DEFAULT (N'Chờ khớp'),
 CONSTRAINT [PK_LenhDat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LENHKHOP](
	[IDKHOP] [int] IDENTITY(1,1) NOT NULL,
	[NGAYKHOP] [datetime] NULL CONSTRAINT [DF_LenhKhop_NgayKhop]  DEFAULT (getdate()),
	[SOLUONGKHOP] [int] NULL,
	[GIAKHOP] [float] NULL,
	[IDLENHDAT] [int] NOT NULL,
 CONSTRAINT [PK_LenhKhop] PRIMARY KEY CLUSTERED 
(
	[IDKHOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [TRUCTUYEN](
	[MACP] [char](7) NOT NULL,
	[GIA3_DM] [float] NULL,
	[KL3_DM] [int] NULL,
	[GIA2_DM] [float] NULL,
	[KL2_DM] [int] NULL,
	[GIA1_DM] [float] NULL,
	[KL1_DM] [int] NULL,
	[GIAKHOP] [float] NULL,
	[KL_KHOP] [int] NULL,
	[GIA1_DB] [float] NULL,
	[KL1_DB] [int] NULL,
	[GIA2_DB] [float] NULL,
	[KL2_DB] [int] NULL,
	[GIA3_DB] [float] NULL,
	[KL3_DB] [int] NULL,
	[NGAYGIAODICH] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [LENHDAT] ON 

INSERT [LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (1, N'A         ', CAST(N'2022-03-28 13:38:10.877' AS DateTime), N'M         ', N'LO        ', 0, 1, N'Khớp hết')
INSERT [LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (2, N'A         ', CAST(N'2022-03-28 13:39:13.180' AS DateTime), N'M         ', N'LO        ', 0, 11, N'Khớp hết')
INSERT [LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (3, N'A         ', CAST(N'2022-03-28 13:49:58.893' AS DateTime), N'M         ', N'LO        ', 0, 111, N'Khớp hết')
SET IDENTITY_INSERT [LENHDAT] OFF
SET IDENTITY_INSERT [LENHKHOP] ON 

INSERT [LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (1, CAST(N'2022-03-28 14:21:23.520' AS DateTime), 1, 111, 3)
INSERT [LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (2, CAST(N'2022-03-28 14:29:12.257' AS DateTime), 1, 11, 2)
INSERT [LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (3, CAST(N'2022-03-28 14:30:12.420' AS DateTime), 5, 11, 2)
SET IDENTITY_INSERT [LENHKHOP] OFF
ALTER TABLE [TRUCTUYEN] ADD  CONSTRAINT [DF_TRUCTUYEN_NGAYGIAODICH]  DEFAULT (getdate()) FOR [NGAYGIAODICH]
GO
ALTER TABLE [LENHKHOP]  WITH CHECK ADD  CONSTRAINT [FK_LenhKhop_LenhDat] FOREIGN KEY([IDLENHDAT])
REFERENCES [LENHDAT] ([ID])
GO
ALTER TABLE [LENHKHOP] CHECK CONSTRAINT [FK_LenhKhop_LenhDat]
GO
ALTER TABLE [LENHDAT]  WITH CHECK ADD  CONSTRAINT [CK_LENHDAT_1] CHECK  (([GIADAT]>(0)))
GO
ALTER TABLE [LENHDAT] CHECK CONSTRAINT [CK_LENHDAT_1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [CursorLoaiGD]
  @OutCrsr CURSOR VARYING OUTPUT, 
  @macp NVARCHAR( 10), @Ngay NVARCHAR( 50),  @LoaiGD CHAR 
AS
SET DATEFORMAT DMY 
IF (@LoaiGD='M')
	SET @OutCrsr = CURSOR KEYSET FOR 
	SELECT ID, NGAYDAT, SOLUONG, GIADAT FROM LENHDAT
	WHERE MACP = @macp
	AND DAY(NGAYDAT)=DAY(@Ngay) AND MONTH(NGAYDAT)= MONTH(@Ngay)
	AND YEAR(NGAYDAT)=YEAR(@Ngay)  
    AND LOAIGD=@LoaiGD AND SOLUONG >0  
    ORDER BY GIADAT DESC, NGAYDAT 
ELSE
	SET @OutCrsr = CURSOR KEYSET FOR
	SELECT ID, NGAYDAT, SOLUONG, GIADAT FROM LENHDAT
	WHERE MACP = @macp
	AND DAY(NGAYDAT)=DAY(@Ngay)
	AND MONTH(NGAYDAT)= MONTH(@Ngay)
	AND YEAR(NGAYDAT)=YEAR(@Ngay)  
    AND LOAIGD=@LoaiGD AND SOLUONG >0  
    ORDER BY GIADAT ASC, NGAYDAT
OPEN @OutCrsr



GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SP_CLEARDATE_TRUCTUYEN]
AS
BEGIN
	DELETE FROM TRUCTUYEN
	WHERE CAST(NGAYGIAODICH AS DATE) != CAST(GETDATE() AS DATE)
END


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [SP_KHOPLENH_LO]
 @macp NVARCHAR( 10), @Ngay NVARCHAR( 10),  @LoaiGD CHAR, 
 @soluongMB INT, @giadatMB FLOAT 
AS
SET DATEFORMAT DMY
DECLARE @CrsrVar CURSOR ,@iddat INT, @ngaydat NVARCHAR( 50), @soluong INT, @giadat FLOAT,  @soluongkhop INT, @giakhop FLOAT, @sumslK INT, @flatK BIT
	
	SET @sumslK=0
	SET @flatK=0;
	
	IF (@LoaiGD='B')
		EXEC CursorLoaiGD  @CrsrVar OUTPUT, @macp, @Ngay, 'M'
	ELSE 
		EXEC CursorLoaiGD  @CrsrVar OUTPUT, @macp, @Ngay, 'B'
  
FETCH NEXT FROM @CrsrVar  INTO @iddat,  @ngaydat , @soluong , @giadat 
WHILE (@@FETCH_STATUS <> -1 AND @soluongMB >0)
	BEGIN
		IF  (@LoaiGD='B' )
			BEGIN
				-- giá bán truyền vào <=  giá mua có sẵn (giá mua giảm dần)
				IF  (@giadatMB <= @giadat)
					BEGIN
						-- số lượng bán truyền vào >= số lượng mua có sẵn
						-- bán truyền vào: khớp hết, khớp 1p còn 1p dư -> chuyển thành lệnh đặt phần dư (ok) /// mua có sẵn chắc chắn khớp hết -> insert lệnh khớp
						IF @soluongMB >= @soluong
							BEGIN
								SET @soluongkhop = @soluong                       -- số lượng khớp = số lượng mua
								SET @giakhop = @giadat                            -- giá khớp = giá mua 
								SET @soluongMB = @soluongMB - @soluong            -- số lượng bán = số lượng bán - số lượng mua
								UPDATE dbo.LenhDat  
									SET SoLuong = 0, TrangThaiLenh = N'Khớp hết'
									WHERE CURRENT OF @CrsrVar
								SET @flatK=1
							END
						
						-- số lượng bán truyền vào < số lượng mua có sẵn
						-- bán truyền vào khớp hết /// mua có sẵn khớp 1p -> insert lệnh khớp
						ELSE
							BEGIN
								SET @soluongkhop = @soluongMB                     -- số lượng khớp = số lượng mua
								SET @giakhop = @giadat                            -- giá khớp = giá mua
       
								UPDATE dbo.LENHDAT  
									SET SoLuong = SoLuong - @soluongMB, TrangThaiLenh = N'Khớp 1 phần' -- số lượng đặt (mua) = số lượng đặt (mua) - số lượng bán
									WHERE CURRENT OF @CrsrVar
								SET @soluongMB = 0
								SET @flatK=1;
							END
						INSERT INTO LenhKhop( SoLuongKhop, GiaKhop, IDLenhDat)
						VALUES (@soluongkhop, @giakhop,@iddat);
						SET @sumslK=@sumslK+@soluongkhop
					END
			END
			
			-- giá bán truyền vào > tất cả giá mua có sẵn
			-- bán truyền vào chưa khớp -> insert lệnh đặt (ok)
	
		IF (@LoaiGD='M' )
			BEGIN
				-- giá mua truyền vào >= giá bán có sẵn ( giá bán tăng dần)
				IF  (@giadatMB >= @giadat)
					BEGIN
						-- số lượng mua truyền vào <= số lượng bán có sẵn
						-- mua truyền vào khớp hết /// bán có sẵn khớp 1 phần -> insert lệnh khớp (ok)
						IF @soluongMB < @soluong
							BEGIN
								SET @soluongkhop = @soluongMB											-- số lượng khớp = số lượng mua
								SET @giakhop = @giadat													-- giá khớp = giá bán
								UPDATE dbo.LenhDat  
									SET SoLuong = Soluong - @soluongMB, TrangThaiLenh = N'Khớp 1 phần'	-- số lượng đặt = số lượng đặt - số lượng mua truyền vô
									WHERE CURRENT OF @CrsrVar
								SET @soluongMB = 0
								SET @flatK=1
							END
						-- số lượng mua truyền vào > số lượng bán có sẵn
						-- mua truyền vào khớp hết hoặc khớp 1p còn 1p dư -> insert lenhdat p dư /// bán có sẵn chắc chắn khớp hết -> insert lenhkhop
						ELSE
							BEGIN
								SET @soluongkhop = @soluong
								SET @giakhop = @giadat
								SET @soluongMB = @soluongMB - @soluong
       
								UPDATE dbo.LENHDAT  
									SET SoLuong = 0, TrangThaiLenh = N'Khớp hết'
									WHERE CURRENT OF @CrsrVar
								END
								SET @flatK=1

						INSERT INTO LenhKhop( SoLuongKhop, GiaKhop, IDLenhDat)
						VALUES (@soluongkhop, @giakhop,@iddat);
						SET @sumslK=@sumslK+@soluongkhop
					END
			END
			
			-- giá mua truyền vào < tất cả giá bán có sẵn
			-- mua truyền vào chưa khớp -> insert lệnh đặt
			--ELSE
				--GOTO THOAT
		FETCH NEXT FROM @CrsrVar INTO  @iddat, @ngaydat , @soluong , @giadat
	END
IF (@soluongMB > 0)
	BEGIN
		IF (@flatK=1)
			BEGIN
				INSERT INTO dbo.LenhDat
				(
					MACP,
					NGAYDAT,
					LOAIGD,
					LOAILENH,
					SOLUONG,
					GIADAT,
					TRANGTHAILENH
				)
				VALUES
				(   @macp,        -- maCP - char(10)
					GETDATE(), -- ngaydat - datetime
					@LoaiGD,       -- loaiGD - nchar(10)
					N'LO',       -- loailenh - nchar(10)
					@soluongMB,         -- soluong - int
					@giadatMB,       -- giadat - float
					N'Khớp 1 phần'        -- trangthailenh - nvarchar(30)
					)
			END
		ELSE
			BEGIN
				INSERT INTO dbo.LenhDat
				(
					MACP,
					NGAYDAT,
					LOAIGD,
					LOAILENH,
					SOLUONG,
					GIADAT,
					TRANGTHAILENH
				)
				VALUES
				(   @macp,        -- maCP - char(10)
					GETDATE(), -- ngaydat - datetime
					@LoaiGD,       -- loaiGD - nchar(10)
					N'LO',       -- loailenh - nchar(10)
					@soluongMB,         -- soluong - int
					@giadatMB,       -- giadat - float
					N'Chờ Khớp'        -- trangthailenh - nvarchar(30)
					)
			END
	END
					
--THOAT:
	SELECT @sumslK
	RETURN @sumslK
	
    CLOSE @CrsrVar
    DEALLOCATE @CrsrVar
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [SP_RESET_TTL]
AS
BEGIN
	UPDATE LENHDAT SET TRANGTHAILENH = N'Chưa khớp' WHERE TRANGTHAILENH = N'Chờ khớp' AND (CAST(NGAYDAT AS DATE)) < CAST(GETDATE() AS DATE)
END



GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SP_UPDATE_TRUCTUYEN]
	@MACP CHAR(7)
AS
BEGIN

	--MUA 1
	DECLARE @GIA1_DM FLOAT, @KL1_DM INT;
	SET @GIA1_DM = 0;
	SET @KL1_DM = 0;

	WITH MUA1 AS (SELECT DENSE_RANK() OVER(ORDER BY GIADAT DESC) AS I, GIADAT, MACP, LOAIGD, NGAYDAT, SOLUONG FROM LENHDAT WHERE CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND SOLUONG > 0 AND MACP = @MACP AND LOAIGD = 'M')
	SELECT @GIA1_DM = MAX(MUA1.GIADAT), @KL1_DM = SUM(MUA1.SOLUONG) FROM MUA1 WHERE MUA1.I = '1';

	UPDATE TRUCTUYEN
	SET GIA1_DM = @GIA1_DM, KL1_DM = @KL1_DM
	WHERE MACP = @MACP AND @GIA1_DM > 0 AND @KL1_DM >0

	---MUA 2
	DECLARE @GIA2_DM FLOAT, @KL2_DM INT
	SET @GIA2_DM = 0
	SET @KL2_DM = 0;

	WITH MUA2 AS (SELECT DENSE_RANK() OVER(ORDER BY GIADAT DESC) AS I, GIADAT, MACP, LOAIGD, NGAYDAT, SOLUONG FROM LENHDAT WHERE CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND SOLUONG > 0 AND MACP = @MACP AND LOAIGD = 'M')
	SELECT @GIA2_DM = MAX(MUA2.GIADAT), @KL2_DM = SUM(MUA2.SOLUONG) FROM MUA2 WHERE MUA2.I = '2';

	UPDATE TRUCTUYEN
	SET GIA2_DM = @GIA2_DM, KL2_DM = @KL2_DM
	WHERE MACP = @MACP AND @GIA2_DM > 0 AND @KL2_DM >0
	
	---MUA 3
	DECLARE @GIA3_DM FLOAT, @KL3_DM INT
	SET @GIA3_DM = 0
	SET @KL3_DM = 0;

	WITH MUA3 AS (SELECT DENSE_RANK() OVER(ORDER BY GIADAT DESC) AS I, GIADAT, MACP, LOAIGD, NGAYDAT, SOLUONG FROM LENHDAT WHERE CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND SOLUONG > 0 AND MACP = @MACP AND LOAIGD = 'M')
	SELECT @GIA3_DM = MAX(MUA3.GIADAT), @KL3_DM = SUM(MUA3.SOLUONG) FROM MUA3 WHERE MUA3.I = '3';

	UPDATE TRUCTUYEN
	SET GIA3_DM = @GIA3_DM, KL3_DM = @KL3_DM
	WHERE MACP = @MACP AND @GIA3_DM > 0 AND @KL3_DM >0 

	---BAN 1
	DECLARE @GIA1_DB FLOAT, @KL1_DB INT;
	SET @GIA1_DB = 0;
	SET @KL1_DB = 0;

	WITH BAN1 AS (SELECT DENSE_RANK() OVER(ORDER BY GIADAT ASC) AS I, GIADAT, MACP, LOAIGD, NGAYDAT, SOLUONG FROM LENHDAT WHERE CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND SOLUONG > 0 AND MACP = @MACP AND LOAIGD = 'B')
	SELECT @GIA1_DB = MAX(BAN1.GIADAT), @KL1_DB = SUM(BAN1.SOLUONG) FROM BAN1 WHERE BAN1.I = '1';

	UPDATE TRUCTUYEN
	SET GIA1_DB = @GIA1_DB, KL1_DB = @KL1_DB
	WHERE MACP = @MACP AND @GIA1_DB > 0 AND @KL1_DB > 0

	---BAN 2
	DECLARE @GIA2_DB FLOAT, @KL2_DB INT;
	SET @GIA2_DB = 0;
	SET @KL2_DB = 0;

	WITH BAN2 AS (SELECT DENSE_RANK() OVER(ORDER BY GIADAT ASC) AS I, GIADAT, MACP, LOAIGD, NGAYDAT, SOLUONG FROM LENHDAT WHERE CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND SOLUONG > 0 AND MACP = @MACP AND LOAIGD = 'B')
	SELECT @GIA2_DB = MAX(BAN2.GIADAT), @KL2_DB = SUM(BAN2.SOLUONG) FROM BAN2 WHERE BAN2.I = '2';

	UPDATE TRUCTUYEN
	SET GIA2_DB = @GIA2_DB, KL2_DB = @KL2_DB
	WHERE MACP = @MACP AND @GIA2_DB > 0 AND @KL2_DB > 0

	---BAN 3
	DECLARE @GIA3_DB FLOAT, @KL3_DB INT;
	SET @GIA3_DB = 0;
	SET @KL3_DB = 0;

	WITH BAN3 AS (SELECT DENSE_RANK() OVER(ORDER BY GIADAT ASC) AS I, GIADAT, MACP, LOAIGD, NGAYDAT, SOLUONG FROM LENHDAT WHERE CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND SOLUONG > 0 AND MACP = @MACP AND LOAIGD = 'B')
	SELECT @GIA3_DB = MAX(BAN3.GIADAT), @KL3_DB = SUM(BAN3.SOLUONG) FROM BAN3 WHERE BAN3.I = '3';

	UPDATE TRUCTUYEN
	SET GIA3_DB = @GIA3_DB, KL3_DB = @KL3_DB
	WHERE MACP = @MACP AND @GIA3_DB > 0 AND @KL3_DB > 0

END



GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [TR_AFTERDELETE] 
   ON  [LENHDAT]
   AFTER DELETE
AS 

BEGIN
	DECLARE @maCP CHAR(7)
	SET @maCP = (SELECT MACP FROM deleted)

	IF EXISTS (SELECT TOP 1 MACP FROM LENHDAT WHERE MACP = @maCP)
		BEGIN
			DELETE FROM TRUCTUYEN WHERE MACP = @maCP
			INSERT INTO TRUCTUYEN (MACP)
			VALUES (@maCP)
			EXEC SP_UPDATE_TRUCTUYEN @MACP = @maCP
		END
	ELSE
		BEGIN
			DELETE FROM TRUCTUYEN WHERE MACP = @maCP
		END
END


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [TR_AFTERINSERT] 
   ON  [LENHDAT]
   AFTER INSERT
AS 
BEGIN
	DECLARE @maCP CHAR(7), @loaiGD CHAR(1), @soLuong INT, @giaDat FLOAT

	SET @loaiGD = (SELECT LOAIGD FROM inserted)
	SET @maCP = (SELECT MACP FROM inserted)
	SET @giaDat = (SELECT GIADAT From inserted)
	SET @soLuong = (SELECT SOLUONG FROM inserted)

	IF EXISTS (SELECT MACP FROM TRUCTUYEN WHERE MACP = @maCP)
		BEGIN
			EXEC SP_UPDATE_TRUCTUYEN @MACP = @maCP
		END
	ELSE 
	-- khi insert cp mới không check lại nên cứ insert mới luôn
		BEGIN 
		IF (@loaiGD = 'M') 
			BEGIN
				INSERT INTO TRUCTUYEN (MACP, GIA1_DM, KL1_DM)
				VALUES (@maCP, @giaDat, @soLuong)
				END
		ELSE
		BEGIN
			INSERT INTO TRUCTUYEN (MACP, GIA1_DB, KL1_DB)
			VALUES (@maCP, @giaDat, @soLuong)
		END
	END
END


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [TR_AFTERUPDATE] 
   ON  [LENHDAT]
   AFTER UPDATE
AS 
BEGIN
	--EXEC SP_CLEARDATE_TRUCTUYEN
	--EXEC SP_RESET_TTL

	DECLARE @maCP_D CHAR(7), @maCP_I CHAR(7), @loaiGD CHAR(1), @soLuong INT, @giaDat FLOAT

	SET @maCP_D = (SELECT TOP(1) MACP FROM deleted)
	SET @maCP_I = (SELECT TOP(1) MACP FROM inserted)
	SET @loaiGD = (SELECT TOP(1) LOAIGD FROM inserted)
	SET @soLuong = (SELECT TOP(1) SOLUONG FROM inserted)
	SET @giaDat = (SELECT TOP(1) GIADAT FROM inserted)
	
	IF (UPDATE(SOLUONG) OR UPDATE(GIADAT))
		BEGIN
			EXEC SP_UPDATE_TRUCTUYEN @MACP = @maCP_I
		END

	IF (UPDATE(LOAIGD))
		BEGIN
			DELETE FROM TRUCTUYEN WHERE MACP = @maCP_I
			INSERT INTO TRUCTUYEN (MACP)
			VALUES (@maCP_I)
			EXEC SP_UPDATE_TRUCTUYEN @MACP = @maCP_I
		END

	IF (UPDATE(MACP))
		BEGIN
			IF EXISTS (SELECT TOP 1 MACP FROM LENHDAT WHERE MACP = @maCP_D)
				BEGIN
					DELETE FROM TRUCTUYEN WHERE MACP = @maCP_D
					INSERT INTO TRUCTUYEN (MACP)
					VALUES (@maCP_D)
					EXEC SP_UPDATE_TRUCTUYEN @MACP = @maCP_D
				END
			ELSE
				BEGIN
					DELETE FROM TRUCTUYEN WHERE MACP = @maCP_D
				END

			IF EXISTS (SELECT TOP 1 MACP FROM TRUCTUYEN WHERE MACP = @maCP_I)
				BEGIN
					EXEC SP_UPDATE_TRUCTUYEN @MACP = @maCP_I
				END
			ELSE
				BEGIN
					INSERT INTO TRUCTUYEN (MACP)
					VALUES (@maCP_I)
					EXEC SP_UPDATE_TRUCTUYEN @MACP = @maCP_I
				END
		END
END


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [AF_INSERT_KHOP]
	ON [LENHKHOP]
	AFTER INSERT
	AS
	BEGIN
	    DECLARE @maCP CHAR(7), @giaKhop FLOAT, @klKhop INT
		SET @maCP=(SELECT MACP FROM Inserted INNER JOIN dbo.LENHDAT ON LENHDAT.ID = Inserted.IDLENHDAT) 
		--IF EXISTS (SELECT MACP FROM dbo.TRUCTUYEN WHERE MACP=@maCP)
		SET @giaKhop= (SELECT GIAKHOP FROM Inserted)
		SET @klKhop = (SELECT SOLUONGKHOP FROM Inserted)

		DELETE FROM TRUCTUYEN WHERE MACP = @maCP
		INSERT INTO TRUCTUYEN (MACP)
		VALUES (@maCP)
		EXEC SP_UPDATE_TRUCTUYEN @MACP = @maCP
		
		UPDATE dbo.TRUCTUYEN SET GIAKHOP=@giaKhop, KL_KHOP = @klKhop WHERE MACP=@maCP

		
	END


GO
